[data-ttk] {
  --ttk-arrow: calc(var(--ttk-arrow-size, 6px) + var(--ttk-offset, 4px));
  position: relative;
}
[data-ttk]::after, [data-ttk]::before {
  position: absolute;
  opacity: 0;
  pointer-events: none;
  transition: transform ease 0.5s, opacity ease 0.5s;
  transform-origin: var(--ttk-origin, top);
  inset: var(--ttk-it, auto) var(--ttk-ir, auto) var(--ttk-ib, auto) var(--ttk-il, auto);
  transform: translate(var(--ttk-tx, 0), var(--ttk-ty, 0));
  z-index: 20;
  will-change: transform;
}
[data-ttk]::before {
  white-space: nowrap;
  display: inline-flex;
  content: attr(aria-label);
  background-color: var(--ttk-bg, #000);
  padding: var(--ttk-padding, 5px 10px);
  border-radius: var(--ttk-radius, 4px);
  color: var(--ttk-color, #fff);
  font-size: var(--ttk-text, 12px);
  line-height: 1;
}
[data-ttk]::after {
  content: "";
  border-style: solid;
  border-color: transparent;
  border-width: var(--ttk-arrow-size, 6px);
}
[data-ttk]:hover::before, [data-ttk]:hover::after {
  opacity: 1;
}

[data-ttk*=up], [data-ttk=""] {
  --ttk-it: 0;
  --ttk-il: 50%;
  --ttk-tx: -50%;
}
[data-ttk*=up]::after, [data-ttk=""]::after {
  border-top-color: var(--ttk-bg, #000);
  border-bottom-width: 0;
}

[data-ttk*=down] {
  --ttk-ib: 0;
  --ttk-il: 50%;
  --ttk-tx: -50%;
}
[data-ttk*=down]::after {
  border-bottom-color: var(--ttk-bg, #000);
  border-top-width: 0;
}

[data-ttk=up]::before, [data-ttk=""]::before {
  --ttk-ty: calc((100% + var(--ttk-arrow)) * -1);
}
[data-ttk=up]::after, [data-ttk=""]::after {
  --ttk-ty: calc((var(--ttk-arrow)) * -1);
}

[data-ttk=down]::before {
  --ttk-ty: calc(100% + var(--ttk-arrow));
}
[data-ttk=down]::after {
  --ttk-ty: calc(var(--ttk-arrow));
  --ttk-origin: bottom;
}

[data-ttk=left]::before {
  --ttk-it: 50%;
  --ttk-ir: calc(100% + var(--ttk-arrow));
  --ttk-ty: -50%;
}
[data-ttk=left]::after {
  --ttk-it: 50%;
  --ttk-ir: calc(100% + var(--ttk-offset, 4px));
  --ttk-ty: -50%;
  --ttk-origin: left;
  border-left-color: var(--ttk-bg, #000);
  border-right-width: 0;
}

[data-ttk=right]::before {
  --ttk-it: 50%;
  --ttk-il: calc(100% + var(--ttk-arrow));
  --ttk-ty: -50%;
}
[data-ttk=right]::after {
  --ttk-it: 50%;
  --ttk-il: calc(100% + var(--ttk-offset, 4px));
  --ttk-ty: -50%;
  --ttk-origin: right;
  border-right-color: var(--ttk-bg, #000);
  border-left-width: 0;
}

[data-ttk=up-left]::before {
  --ttk-il: 0;
  --ttk-tx: 0;
  --ttk-ty: calc((100% + var(--ttk-arrow)) * -1);
}
[data-ttk=up-left]::after {
  --ttk-il: 0;
  --ttk-ty: calc((var(--ttk-arrow)) * -1);
  --ttk-tx: var(--ttk-arrow,);
  --ttk-origin: top left;
}

[data-ttk=up-right]::before {
  --ttk-ir: 0;
  --ttk-il: auto;
  --ttk-tx: 0;
  --ttk-ty: calc((100% + var(--ttk-arrow)) * -1);
}
[data-ttk=up-right]::after {
  --ttk-ir: 0;
  --ttk-il: auto;
  --ttk-ty: calc((var(--ttk-arrow)) * -1);
  --ttk-tx: calc(var(--ttk-arrow) * -1);
  --ttk-origin: top right;
}

[data-ttk=down-left]::before {
  --ttk-il: 0;
  --ttk-tx: 0;
  --ttk-ty: calc(100% + var(--ttk-arrow));
}
[data-ttk=down-left]::after {
  --ttk-il: 0;
  --ttk-ty: calc(var(--ttk-arrow));
  --ttk-tx: var(--ttk-arrow);
  --ttk-origin: bottom left;
}

[data-ttk=down-right]::before {
  --ttk-ir: 0;
  --ttk-il: auto;
  --ttk-tx: 0;
  --ttk-ty: calc(100% + var(--ttk-arrow));
}
[data-ttk=down-right]::after {
  --ttk-ir: 0;
  --ttk-il: auto;
  --ttk-ty: calc(var(--ttk-arrow));
  --ttk-tx: calc(var(--ttk-arrow) * -1);
  --ttk-origin: bottom right;
}
